body{
    background: rgb(41, 41, 41);
}

.nav-bar {
    border: none;
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Game */
#game-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#play-button {
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

#game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.785);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#game-overlay.hidden {
    display: none;
}

/* Die */
#dice-container {
    position: absolute;
    top: 50%;
    left: calc(50% + 400px);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.die {
    font-size: 100px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    user-select: none;
    cursor: pointer;
    background: rgb(228, 10, 10);
}

@keyframes roll {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.die-rolling {
  animation: roll 0.5s ease;
}

/* Board */
#board {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
  height: 738px;
  width: 738px;
  gap: 2px;
  background-color: black;
  padding: 2px;
  box-sizing: border-box;
}

.tile {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.tile.tEven {
    background-color: rgb(255, 255, 213);
}

.tile.tOdd {
    background-color: rgb(92, 167, 85);
}

.tile > .tile-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  font-size: 20px;
  white-space: nowrap;
}

img[id^="r"], img[id^="b"] { /* this will cause problems if other img id starts with r or b. */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
}

.tile.Luck {
    background-color: rgb(185, 215, 233);
}

.tile.Risk {
    background-color: rgb(155, 155, 155);
}

.tile.Draw {
    background-color: rgb(231, 57, 234);
}

.tile.Bank {
    background-color: gold;
}

/* Text Box */
#text-box {
    position: absolute;
    left: calc(-350px + -120px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 350px;
}

#turn-announcer {
    font-size: 2rem;
    color: white;
}

#instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    background-color: rgb(68, 68, 68);
    margin-top: 32px;
    font-size: 1.5rem;
    padding: 0 10px;
    box-sizing: border-box;
}
